@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Righteous&display=swap");

*,
*::after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: "Press Start 2P", monospace;
    font-size: 1.6rem;
    width: 100%;
    overflow: hidden;
}

.p5Canvas {
    width: 100%;
}

main {
    position: absolute;
    inset: 0;
    overflow: hidden;
}
