@font-face {
    font-family: "Press Start 2P";
    src: url("/data/PressStart2P-Regular.ttf");
}

*,
*::after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: "Press Start 2P", monospace;
    font-size: 1.6rem;
    width: 100%;
    overflow: hidden;
    background: #fff7e3;
}

.p5Canvas {
    width: 100%;
}

main {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

h1 {
    text-align: center;
}

.pregame-modal {
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem;
    background: #fff7e3;
    border-radius: 1rem;
    border: 0.4rem solid #feae34;
    box-shadow: 0.8rem 0.8rem 0 rgba(0, 0, 0, 0.3);
}

.div-overlay {
    z-index: 10;
    position: absolute;
    inset: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerList {
    margin: 2rem 0;
    list-style-type: none;
}

#playerList > li {
    text-align: center;
    margin: 0.4rem 0;
}

#startButton {
    border: 0.4rem solid #feae34;
    border-radius: 1rem;
    background: transparent;
    font-family: inherit;
    padding: 1rem 2rem;
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

#startButton.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

#startButton.hidden {
    display: none;
}
